<nav class="navbar navbar-expand-md navbar-dark py-2" id="main-nav">
  <div class="container-fluid">
    <a href="#home" class="navbar-brand">
      <!-- <h4>
        <span style="color: #bd871f;">MOV<span style="color: #FB4F93;">IE </span></span>
        <span style="color: #00E6E4;">SEAR<span style="color: #FB4F93;">CH</span></span>
      </h4> -->
      <h3 class="title" data-text="moviesearch">moviesearch</h3>
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="#" class="nav-link">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <!-- https://www.freakyjolly.com/autocomplete-using-angular-ng-autocomplete-package-tutorial-by-example/ -->
  <div class="row">
    <div class="col">
      <div class="ng-autocomplete mx-auto">
        <!-- <label for="SearchMovie" class="text-white">Search Movie</label> -->
        <ng-autocomplete [data]="data" [searchKeyword]="keyword" (selected)='selectEvent($event)'
          (inputChanged)='getServerResponse($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
          (inputCleared)="searchCleared()" [notFoundTemplate]="notFoundTemplate" [debounceTime]="600"
          [isLoading]="isLoadingResult" [minQueryLength]="2" placeholder="Search Movies. eg 'war'">
        </ng-autocomplete>

        <ng-template #itemTemplate let-item>
          <a href="javascript:void(0)">
            <div class="row">
              <div class="col-2">
                <img [src]="item.Poster" alt="Movie Image" style="width:50px" />
              </div>
              <div class="col-10">
                <span [innerHTML]="item.Title"></span><i>({{item.Year}})</i>
              </div>
            </div>
          </a>
        </ng-template>

        <ng-template #notFoundTemplate let-notFound>
          {{errorMsg}}
        </ng-template>
      </div>
    </div>
  </div>

  <hr class="mt-5">

  <div style="margin-top: 50px;">
    <router-outlet></router-outlet>
  </div>
</div>
