/* You can add global styles to this file, and also import other style files */
body {
  background-color: #000;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.loading-iframe {
  background:url(../src/assets/images/loading.gif) center center no-repeat;
}

#main-footer {
  background-color: #bd871f;
}
